d_raw_cubehelix_8bits
d_raw_cubehelix_focus_8bits
d_raw_focus_8bits
d_raw_focus_16bits
d_raw_HHA_8bits
d_raw_histeqBack_8bits
d_raw_histeqBack_16bits
d_raw_histeqFront_8bits
d_raw_histeqFront_16bits
d_raw_histeqRandom_8bits
d_raw_histeqRandom_16bits
d_raw_jet_8bits
d_raw_jet_focus_8bits
d_raw_normal_8bits
d_raw_normal_16bits
instances
labels
results
rgb_i_10_8bits
rgb_i_20_8bits
rgb_i_30_8bits
rgb_i_40_8bits
rgb_i_50_8bits
rgb_i_60_8bits
rgb_i_70_8bits
rgb_i_80_8bits
rgb_i_90_8bits
rgb_i_<_8bits
rgb_iAll_8bits
rgb_iRange_50_10_8bits
rgb_iRange_100_60_8bits
rgb_raw_8bits
